[submodule "sources_forked/supertab"]
	path = sources_forked/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "sources_forked/pydoc"]
	path = sources_forked/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "sources_forked/tasklist"]
	path = sources_forked/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "sources_forked/gundo"]
	path = sources_forked/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "sources_forked/vim-virtualenv"]
	path = sources_forked/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "sources_forked/jedi-vim"]
	path = sources_forked/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "sources_forked/nerdcommenter"]
	path = sources_forked/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
