[submodule "sources_forked/pydoc"]
	path = sources_forked/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "sources_forked/tasklist"]
	path = sources_forked/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "sources_forked/gundo"]
	path = sources_forked/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "sources_forked/nerdcommenter"]
	path = sources_forked/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "sources_forked/YouCompleteMe"]
	path = sources_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "sources_forked/ultisnips"]
	path = sources_forked/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "sources_forked/vim-snippets"]
	path = sources_forked/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "sources_forked/vimerl"]
	path = sources_forked/vimerl
	url = git@github.com:jimenezrick/vimerl.git
